# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/.idea/
/framework/cglib/target/classes/META-INF/cglib.kotlin_module
/core/src/main/java/com/roboslyq/io/io/cif088d.dat
/core/src/main/java/com/roboslyq/io/io/cif089rn.dat
/core/src/main/java/com/roboslyq/io/io/cif089rp.dat
/framework/dledger/target/classes/application.properties
/framework/dledger/target/classes/application-n0.properties
/framework/dledger/target/classes/application-n1.properties
/framework/dledger/target/classes/application-n2.properties
/framework/mybatis/target/classes/mapper/BlogMapper.xml
/framework/mybatis/target/classes/mybatis-config.xml
/framework/rocketmq/target/classes/META-INF/rocketmq.kotlin_module
/framework/rocketmq/target/classes/application.yaml
/framework/springframework/src/main/java/framework/App.java
/framework/springframework/src/test/java/framework/AppTest.java
/tu/target/classes/META-INF/MANIFEST.MF
